USE [master]
GO
/****** Object:  Database [book]    Script Date: 08.01.2023 17:07:24 ******/
CREATE DATABASE [book]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'book', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\book.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'book_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\book_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [book].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [book]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 08.01.2023 17:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuthorCross]    Script Date: 08.01.2023 17:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorCross](
	[book_id] [int] NOT NULL,
	[author_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book]    Script Date: 08.01.2023 17:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Author_id] [int] NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[Year] [int] NOT NULL,
	[Img] [varchar](50) NOT NULL,
	[ISBN] [varchar](50) NOT NULL,
	[PageCount] [int] NOT NULL,
	[Genre_id] [int] NOT NULL,
	[Tag_id] [int] NOT NULL,
 CONSTRAINT [PK_book] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 08.01.2023 17:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GenreCross]    Script Date: 08.01.2023 17:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenreCross](
	[book_id] [int] NOT NULL,
	[genre_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 08.01.2023 17:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TagCross]    Script Date: 08.01.2023 17:07:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagCross](
	[book_id] [int] NOT NULL,
	[tag_id] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuthorCross]  WITH CHECK ADD  CONSTRAINT [FK_AuthorCross_Author] FOREIGN KEY([author_id])
REFERENCES [dbo].[Author] ([id])
GO
ALTER TABLE [dbo].[AuthorCross] CHECK CONSTRAINT [FK_AuthorCross_Author]
GO
ALTER TABLE [dbo].[AuthorCross]  WITH CHECK ADD  CONSTRAINT [FK_AuthorCross_book] FOREIGN KEY([book_id])
REFERENCES [dbo].[book] ([id])
GO
ALTER TABLE [dbo].[AuthorCross] CHECK CONSTRAINT [FK_AuthorCross_book]
GO
ALTER TABLE [dbo].[GenreCross]  WITH CHECK ADD  CONSTRAINT [FK_GenreCross_book] FOREIGN KEY([book_id])
REFERENCES [dbo].[book] ([id])
GO
ALTER TABLE [dbo].[GenreCross] CHECK CONSTRAINT [FK_GenreCross_book]
GO
ALTER TABLE [dbo].[GenreCross]  WITH CHECK ADD  CONSTRAINT [FK_GenreCross_Genre] FOREIGN KEY([genre_id])
REFERENCES [dbo].[Genre] ([id])
GO
ALTER TABLE [dbo].[GenreCross] CHECK CONSTRAINT [FK_GenreCross_Genre]
GO
ALTER TABLE [dbo].[TagCross]  WITH CHECK ADD  CONSTRAINT [FK_TagCross_book] FOREIGN KEY([book_id])
REFERENCES [dbo].[book] ([id])
GO
ALTER TABLE [dbo].[TagCross] CHECK CONSTRAINT [FK_TagCross_book]
GO
ALTER TABLE [dbo].[TagCross]  WITH CHECK ADD  CONSTRAINT [FK_TagCross_Tag] FOREIGN KEY([tag_id])
REFERENCES [dbo].[Tag] ([id])
GO
ALTER TABLE [dbo].[TagCross] CHECK CONSTRAINT [FK_TagCross_Tag]
GO
USE [master]
GO
